PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
AUTH_MODE=none
# AUTH_MODE=jwt
# AUTH_MODE=cookie

# Prisma / Postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/personnel?schema=public"

# Better Auth
BETTER_AUTH_URL="http://localhost:3001"
BETTER_AUTH_SECRET="CHANGE_ME_TO_A_RANDOM_32+_CHAR_SECRET"

# Bootstrap security admin (created on startup if missing)
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PASSWORD=change_me_min_8_chars
