PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
AUTH_MODE=none
# AUTH_MODE=jwt
# AUTH_MODE=cookie

# Prisma / Postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/personnel?schema=public"
